@model WebStoreSln.Models.Product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    ProductDetail</h2>
<h3>
    @Model.Name</h3>
<img src="/content/images/products/@Model.ImageUrl" height="400" alt="@Model.Name" />
<h3>
    Offer Price: @Model.Price</h3>
